@import 'variables.scss';

* {
    transition: .5s;
    font-family: $font;
    ::selection {
        background-color: $accent;
    }
}

html, body {
    margin: 0;
    padding: 0;
    background-color: $background;
    overflow: hidden;
}